name: PR Check

on:
  workflow_call:
    inputs: 
      NODE_VERSION:
        type: string
        description: "Node version to use"
        required: true
    secrets:
      GH_TOKEN:
        required: true

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read

jobs:
  pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.NODE_VERSION }}
          registry-url: https://npm.pkg.github.com
          scope: '@dignityfalconer'

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

#     - name: Run lint
#       run: npm run lint
#
#     - name: Run formatting
#       run: npm run format
#
#     - name: Run unit test
#       run: npm run test
