name: Install

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true

permissions:
  contents: read
  packages: read

jobs:
  install:
    runs-on: ubuntu-latest

    outputs: 
      artifact-name: node_modules

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: https://npm.pkg.github.com
          scope: '@dignityfalconer'
      - run: node -v

      - name: Cache npm 
        uses: actions/cache@v4 
        with: 
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Compress node_modules
        run: tar -czf node_modules.tar.gz node_modules

      - name: Upload node_modules
        uses: actions/upload-artifact@v4
        with:
          name: node_modules
          path: node_modules.tar.gz
          retention-days: 1
